name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Docker Login
        run: docker login docker.pkg.github.com --username $DOCKER_USERNAME --password $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: elroyparkinson
          DOCKER_PASSWORD: ${{ secrets.dockerhub_pwd }}
    - name: Build the Docker image
      run: docker build . --tag elroyparkinson/imaging-rest
    - name: Push the Docker Image
      run: docker push elroyparkinson/imaging-rest:$(date +%s)
